<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admvalidate</servlet-name>
        <servlet-class>admvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admlogout</servlet-name>
        <servlet-class>admlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstaff_db</servlet-name>
        <servlet-class>addstaff_db</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffvalidate</servlet-name>
        <servlet-class>staffvalidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem1addDB</servlet-name>
        <servlet-class>sem1addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem2addDB</servlet-name>
        <servlet-class>sem2addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem3addDB</servlet-name>
        <servlet-class>sem3addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem4addDB</servlet-name>
        <servlet-class>sem4addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem5addDB</servlet-name>
        <servlet-class>sem5addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sem6addDB</servlet-name>
        <servlet-class>sem6addDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stdvalidate</servlet-name>
        <servlet-class>stdvalidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admvalidate</servlet-name>
        <url-pattern>/admvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admlogout</servlet-name>
        <url-pattern>/admlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstaff_db</servlet-name>
        <url-pattern>/addstaff_db</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffvalidate</servlet-name>
        <url-pattern>/staffvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem1addDB</servlet-name>
        <url-pattern>/sem1addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem2addDB</servlet-name>
        <url-pattern>/sem2addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem3addDB</servlet-name>
        <url-pattern>/sem3addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem4addDB</servlet-name>
        <url-pattern>/sem4addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem5addDB</servlet-name>
        <url-pattern>/sem5addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sem6addDB</servlet-name>
        <url-pattern>/sem6addDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stdvalidate</servlet-name>
        <url-pattern>/stdvalidate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
